<script>
    const allStationSummaryData = {{{summaryData}}};
    const stationData = {{{stationData}}};
    const stationWiseData = {{{summaryAllData}}};
</script>
<div class="container">
    
    <div class="flex-container">
        <div class="from-div">
            <label>From</label> 
            <input id="txtFrom" />
        </div>
        <div class="to-div">
            <label>To</label>
            <input id="txtTo" />
        </div>
        <div class="div-select">
            <select class="select-city"></select>
        </div>
        <div>
            <button class="clear-btn">Clear</button>
        </div>
    </div>
    <div id="chartdiv"></div>
</div>
<script src="static/javascript/index.js"></script>